<launch>
    <arg name="object_x" default="0.2"/>
    <arg name="object_y" default="0"/>
    <arg name="object_z" default="0.76"/>
    <arg name="object_name" default="drill"/>
    <arg name="in_frame" default="world"/>

	<node name="test_object_spawn" pkg="gazebo_test_tools" type="object_spawner" respawn="false"
        output="screen" args="$(arg object_name) $(arg object_x) $(arg object_y) $(arg object_z) $(arg in_frame)"/>

	<node name="test_recognise_object" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" respawn="false" output="screen" args="$(arg object_name) 1"/>

</launch>

